.modal {
  .header-text {
    padding-bottom: 3px;
    height: 30px;
    h1 {
      float: left;
    }
    img {
      float: right;
      width: 30px;
      height: 111%;
    }
  }
  display: none;
  margin: auto;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 90%;
  height: 80vmin;
  max-height: 100%;
  padding: 3%;
  background-color: gray;
  @include round-borders(30px);
  & .modal-content {
    max-height: 90%;
    overflow: auto;
    width: 100%;
     img {
      width: 100%;
    }
  }
}
